blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}

.badge {
  background-color: lightgrey;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 3px;
}

.meta-table {
  border: none;
  border-collapse: collapse;
}

.meta-label {
  text-align: right;
  padding: 1px 6px;
}

.meta-value {
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}