manifest {
    name            = 'angelovangel/nxf-tgs'
    author          = 'aangeloo@gmail.com'
    homePage        = 'https://github.com/angelovangel/nxf-tgs'
    defaultBranch   = 'main'
    description     = 'Process raw ONT data, generate html report, and do assembly (plasmid, amplicon, bacterial genome)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.3.7'
}

params {
    fastq = "fastq_pass"
    samplesheet = "samplesheet.csv" //user, sample, barcode NEEDED
    outdir = "output"
    pipeline = "wf-clone-validation" //can be wf-clone-validation, wf-bacterial-genomes, wf-amplicon, report-only
    assembly_args = null
    assembly_profile = "standard"
    help = ""
}


profiles {
    standard {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/singularity-cache"
        params.assembly_profile = "singularity" // pass this as --param to the wf-pipeline
    }

    test {
        params.fastq = "$baseDir/demo/fastq_pass"
        params.samplesheet = "$baseDir/demo/samplesheet.csv"
    }
}